@use "../utils/_main" as main

.modal-body
  background-color: main.$lightGreen
  color: main.$greyText

.modal-header
  background-color: main.$darkGreen
  .modal-title
    color: main.$header

.modal-footer
  background-color: main.$darkGreen
