@use '../utils/_main' as main

.nav__switch__png
  width: 2.7rem
  height: 2.7rem
  position: absolute
  top: 3.3rem
  right: 1.7rem
nav
  ul
    padding-top: 1rem
    padding-bottom: .5rem
    li
      margin-bottom: 2rem
    a
    color: main.$header
    text-transform: uppercase
    font-size: 1.3rem
    