@use "../utils/_main" as main
@use "../atoms/_logo" as logo
@use "../atoms/_nav" as nav

.header
  background-color: main.$darkGreen
  width: 100%
  height: auto
  font-family: main.$mainFont
  color: main.$header
  padding: 1.3rem
  position: relative
  margin-bottom: 1.5rem
  
  