@use "../utils/_main" as main
@use "../atoms/_logo" as logo
@use "../atoms/_nav" as nav

.header
  background-color: main.$darkGreen
  width: 100%
  height: auto
  font-family: main.$mainFont
  color: main.$header
  padding: 1.3rem
  position: relative
  

  .main__nav
    display: none
  
  /* Quand le checkbox est checked le voisin nav passe en display: block */

  .nav__switch:checked ~ nav 
    display: block

  .nav__switch
    display: none

  .nav__switch__png
    width: 2.7rem
    height: 2.7rem
    position: absolute
    top: 3.3rem
    right: 1.7rem