* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: #C5FAD5;
  font-family: "Cabin", sans-serif;
}

.header__logo {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.header__logo .header__logo__img {
  width: 5rem;
  height: auto;
}

.nav__switch__png {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  top: 3.3rem;
  right: 1.7rem;
}

nav ul {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  color: #FFFFD2;
  text-transform: uppercase;
  font-size: 1.3rem;
}
nav ul li {
  margin-bottom: 2rem;
}
.header {
  background-color: #2C5F2D;
  width: 100%;
  height: auto;
  font-family: "Cabin", sans-serif;
  color: #FFFFD2;
  padding: 1.3rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.main__title {
  font-family: "Cabin", sans-serif;
  color: #AA96DA;
  text-align: center;
  margin: 1.3rem 0.5rem;
  text-transform: uppercase;
}

.main__text {
  font-family: "Cabin", sans-serif;
  color: #2C5F2D;
  text-align: center;
  font-weight: regular;
  margin: 1.3rem 0.8rem;
}

.mainPic {
  width: 70vw;
  height: auto;
  display: block;
  margin: 0.2rem auto;
  margin-bottom: 2rem;
}

.main__smallText {
  color: #979797;
  font-size: 0.6rem;
  text-align: center;
  padding: 0 2rem;
}

.modal-body {
  background-color: #C5FAD5;
  color: #979797;
}

.modal-header {
  background-color: #2C5F2D;
}
.modal-header .modal-title {
  color: #FFFFD2;
}

.modal-footer {
  background-color: #2C5F2D;
}

.modal__smallText {
  font-size: 0.8rem;
  color: #D9D9D9;
}

.form-label {
  color: #2C5F2D;
}

.info .info__title {
  text-align: center;
  font-weight: bold;
  color: #AA96DA;
}
.info .info__text {
  text-align: center;
  font-weight: regular;
  color: #2C5F2D;
  padding: 2rem 2rem;
}

.carousel {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
  display: none;
}
.carousel .carousel__title {
  color: #FFFFD2;
  font-size: 3rem;
}
.carousel .carousel__text {
  color: #FFFFD2;
}

footer {
  background-color: #2C5F2D;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "text text text logo" "legal legal legal legal" "contact contact contact contact";
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #FFFFD2;
  font-family: "Cabin", sans-serif;
  padding: 0 2rem;
}
footer h3 {
  grid-area: text;
  padding-left: 1.5rem;
}
footer .legal {
  grid-area: legal;
  padding: 0.7rem;
  align-self: baseline;
}
footer .footer__logo__holder {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
}
footer .socialNet {
  margin-top: 2rem;
  margin-right: 1rem;
}
footer .connect {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.4fr;
  grid-template-areas: "phone mail" "adress adress";
  align-self: baseline;
}
footer .connect .phone {
  grid-area: phone;
  padding: 0.6rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .connect .mail {
  grid-area: mail;
  padding: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .adress {
  grid-area: adress;
  padding: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
  align-self: baseline;
}

.nav__container .nav__switch:checked ~ nav {
  display: block;
}
.nav__container .nav__switch {
  display: none;
}

nav {
  margin-top: 1rem;
  background-color: #2C5F2D;
  position: relative;
  top: -4rem;
}

.main__nav {
  display: none;
}

.progress {
  margin: 2.2rem 1rem;
}

.don__main__title {
  text-align: center;
  font-weight: bold;
  color: #AA96DA;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
}

.don__main__text {
  text-align: center;
  font-weight: regular;
  color: #2C5F2D;
  padding: 0 2rem;
}

.bigScreen__display {
  display: none;
}

.mobile__display {
  margin-bottom: 2rem;
}

.events__title {
  text-align: center;
  font-weight: bold;
  color: #2C5F2D;
  margin: 2rem 1rem;
}

.event__name {
  color: #AA96DA;
  padding: 1rem 2rem 1rem 0.7rem;
  font-weight: bold;
}

.event__date {
  color: #2C5F2D;
  padding: 1rem 2rem 1rem 0.7rem;
}

.event__prog {
  color: #2C5F2D;
  padding: 1rem 2rem 1rem 0.7rem;
  text-decoration: underline;
}

.event__adress {
  color: #AA96DA;
  padding: 1rem 2rem 1rem 0.7rem;
}

th {
  text-transform: uppercase;
  text-align: center;
}

.main__form {
  padding: 1rem 2rem;
}

.contact__main__title {
  text-align: center;
  font-weight: bold;
  color: #AA96DA;
  margin: 2rem 0;
}

.contact__main__message {
  text-align: center;
  font-weight: regular;
  color: #2C5F2D;
  font-size: 1rem;
  margin: 0 1rem 2rem 1rem;
}

.contact__logo {
  width: 30px;
  height: 30px;
  grid-area: logo;
}

.card {
  width: 18rem;
  background-color: #D9D9D9;
  display: block;
  margin: 0.5rem auto;
  margin-bottom: 2rem;
}
.card h5 {
  color: #2C5F2D;
}
.card p {
  color: #2C5F2D;
}

div.separator {
  width: 100%;
  height: 7rem;
  background: linear-gradient(#C5FAD5, #9198e5);
  margin-bottom: 0;
}

div.separator--rev {
  width: 100%;
  height: 7rem;
  background: linear-gradient(#C5FAD5, #9198e5);
  margin-bottom: 3rem;
  transform: rotate(180deg);
}

.btn-primary {
  display: block;
  width: 73%;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.btn-card {
  background-color: #2C5F2D;
  color: #FFFFD2;
}
.btn-card:hover {
  background-color: #2C5F2D;
  opacity: 50%;
  color: #FFFFD2;
}

/* .btn-success
 * display: block
 * margin: 2rem auto */
@media (min-width: 700px) {
  .nav__switch_label {
    display: none;
  }
  #main__nav {
    background: transparent;
    display: inline-block;
    position: absolute;
    width: 40rem;
    height: auto;
    top: 0;
    right: 0;
  }
  #main__nav a {
    font-size: 0.7rem;
    line-height: 7rem;
  }
  li {
    display: inline;
    margin-right: 3rem;
    border-bottom: 0.2rem solid #FFFFD2;
  }
  li:hover {
    border-bottom: 0.7rem solid #FFFFD2;
  }
  ul {
    margin-top: 1rem;
  }
  .main__title {
    margin-top: 3rem;
  }
  .main__text {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
  .mainPic {
    display: none;
  }
  .carousel {
    display: block;
  }
  .cards {
    display: flex;
    padding: 2rem 2.5rem;
  }
  .card {
    width: 20rem;
  }
  .info__title {
    text-align: left;
  }
  footer {
    display: block;
    padding-top: 3rem;
  }
  footer .mail {
    display: flex;
  }
  footer .mail:hover {
    opacity: 50%;
  }
  footer .phone {
    display: flex;
  }
  footer .phone:hover {
    opacity: 50%;
  }
  footer .adress {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  footer .socialNet {
    display: flex;
    justify-content: space-evenly;
  }
  footer h3 {
    font-size: 1rem;
  }
  .bigScreen__display {
    display: table;
  }
  .mobile__display {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */