* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: #C5FAD5;
}

.header__logo {
  margin-top: 2rem;
  font-size: 1.6rem;
}
.header__logo .header__logo__img {
  width: 5rem;
  height: auto;
}

nav {
  margin-top: 3rem;
  background-color: #2C5F2D;
  position: relative;
  top: -4rem;
}

.main__nav {
  display: none;
}

.nav__switch__png {
  width: 2.7rem;
  height: 2.7rem;
  position: absolute;
  top: 3.3rem;
  right: 1.7rem;
}
.nav__switch__png a {
  font-size: 1.4rem;
  line-height: 5rem;
  color: #FFFFD2;
}

.header {
  background-color: #2C5F2D;
  width: 100%;
  height: auto;
  font-family: "Cabin", sans-serif;
  color: #FFFFD2;
  padding: 1.3rem;
  position: relative;
}

/* Quand le checkbox est checked, le voisin nav passe en display: block */
 *
 * .nav__switch:checked ~ nav 
 *  display: block
 *
 * /* Je cache le checkbox, que le label reste affiche */
 *
 * .nav__switch
 *  display: none */
.main__title {
  font-family: "Cabin", sans-serif;
  color: #AA96DA;
  text-align: center;
  margin: 1.3rem 0.5rem;
  text-transform: uppercase;
}

.main__text {
  font-family: "Cabin", sans-serif;
  color: #2C5F2D;
  text-align: center;
  font-weight: regular;
  margin: 1.3rem 0.8rem;
}

.mainPic {
  width: 70vw;
  height: auto;
  display: block;
  margin: 0.2rem auto;
  margin-bottom: 2rem;
}

.main__smallText {
  color: #979797;
  font-size: 0.6rem;
  text-align: center;
}

.modal-body {
  background-color: #C5FAD5;
  color: #979797;
}

.modal-header {
  background-color: #2C5F2D;
}
.modal-header .modal-title {
  color: #FFFFD2;
}

.modal-footer {
  background-color: #2C5F2D;
}

.info .info__title {
  text-align: center;
  font-weight: bold;
  color: #AA96DA;
}
.info .info__text {
  text-align: center;
  font-weight: regular;
  color: #2C5F2D;
  padding: 2rem 2rem;
}

footer {
  background-color: #2C5F2D;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "text text text logo" "legal legal legal legal" "phone phone mail mail" "adress adress adress adress";
  align-items: center;
  justify-content: center;
  align-content: center;
  color: #FFFFD2;
  font-family: "Cabin", sans-serif;
  padding: 0 2rem;
}
footer h3 {
  grid-area: text;
  padding-left: 1.5rem;
}
footer .legal {
  grid-area: legal;
  padding: 0.7rem;
}
footer .footer__logo__holder {
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.2rem;
}
footer .socialNet {
  margin-top: 2rem;
  margin-right: 1rem;
}
footer .phone {
  grid-area: phone;
  padding: 0.6rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}
footer .mail {
  grid-area: mail;
  padding: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
  font-weight: bold;
}
footer .adress {
  grid-area: adress;
  padding: 0.6rem;
  font-size: 0.7rem;
  text-align: center;
  align-self: baseline;
}

.contact__logo {
  width: 30px;
  height: 30px;
  grid-area: logo;
}

.card {
  background-color: #D9D9D9;
  display: block;
  margin: 0.5rem auto;
  margin-bottom: 2rem;
}
.card h5 {
  color: #2C5F2D;
}
.card p {
  color: #2C5F2D;
}

div.separator {
  width: 100%;
  height: 7rem;
  background: linear-gradient(#C5FAD5, #9198e5);
  margin-bottom: 0;
}

div.separator--rev {
  width: 100%;
  height: 7rem;
  background: linear-gradient(#C5FAD5, #9198e5);
  margin-bottom: 3rem;
  transform: rotate(180deg);
}

.btn-primary {
  display: block;
  width: 70%;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.btn-card {
  background-color: #2C5F2D;
  color: #FFFFD2;
}/*# sourceMappingURL=style.css.map */